openapi: 3.2.0
info:
  title: Ads Manager Reporting API
  description: Ads Manager API
  version: 1.0.0
servers:
- url: https://api-public.groundtruth.com
  description: Production
tags:
- name: Reporting
paths:
  /reporting/distribution/supply/campaign/{campaign_id}:
    get:
      tags:
      - Reporting
      summary: Get Supply System Distribution Campaign
      description: Gets supply/system distribution for a campaign. key=1 device type, key=2 operating system, key=3 publisher type. Optional all_adgroups breaks out by ad group.
      operationId: get_supply_system_distribution_campaign
      security:
      - api-key: []
      - user-id: []
      - session: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: integer
          title: Campaign Id
      - name: key
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/SupplySystemDistributionKey'
          description: 1=device type, 2=operating system, 3=publisher type
        description: 1=device type, 2=operating system, 3=publisher type
      - name: all_adgroups
        in: query
        required: false
        schema:
          type: boolean
          description: When true, returns distribution grouped by ad group where applicable.
          default: false
          title: All Adgroups
        description: When true, returns distribution grouped by ad group where applicable.
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: Start Date
        description: Date should be in YYYY-MM-DD
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: End Date
        description: Date should be in YYYY-MM-DD
      - name: tenant_id
        in: query
        required: true
        schema:
          type: integer
          title: Tenant Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupplySystemDistributionCampaignModel'
                title: Response Get Supply System Distribution Campaign Reporting Distribution Supply Campaign  Campaign Id  Get
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Internal Server Error
  /reporting/distribution/performance/campaign/{campaign_id}:
    get:
      tags:
      - Reporting
      summary: Get Performance Distribution Campaign
      description: Gets performance distribution for a campaign. key=1 product. key=2 goal KPI is not available in this version. Optional all_adgroups breaks out by ad group.
      operationId: get_performance_distribution_campaign
      security:
      - api-key: []
      - user-id: []
      - session: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: integer
          title: Campaign Id
      - name: key
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/PerformanceDistributionKey'
          description: 1=product, 2=goal KPI (not available)
        description: 1=product, 2=goal KPI (not available)
      - name: all_adgroups
        in: query
        required: false
        schema:
          type: boolean
          description: When true, returns distribution grouped by ad group.
          default: false
          title: All Adgroups
        description: When true, returns distribution grouped by ad group.
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: Start Date
        description: Date should be in YYYY-MM-DD
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: End Date
        description: Date should be in YYYY-MM-DD
      - name: tenant_id
        in: query
        required: true
        schema:
          type: integer
          title: Tenant Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PerformanceDistributionCampaignModel'
                title: Response Get Performance Distribution Campaign Reporting Distribution Performance Campaign  Campaign Id  Get
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Internal Server Error
  /reporting/distribution/supply/adgroup/{adgroup_id}:
    get:
      tags:
      - Reporting
      summary: Get Supply System Distribution Adgroup
      description: Gets supply/system distribution for an ad group. key=1 device type, key=2 operating system, key=3 publisher type.
      operationId: get_supply_system_distribution_adgroup
      security:
      - api-key: []
      - user-id: []
      - session: []
      parameters:
      - name: adgroup_id
        in: path
        required: true
        schema:
          type: integer
          title: Adgroup Id
      - name: key
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/SupplySystemDistributionKey'
          description: 1=device type, 2=operating system, 3=publisher type
        description: 1=device type, 2=operating system, 3=publisher type
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: Start Date
        description: Date should be in YYYY-MM-DD
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: End Date
        description: Date should be in YYYY-MM-DD
      - name: tenant_id
        in: query
        required: true
        schema:
          type: integer
          title: Tenant Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupplySystemDistributionCampaignModel'
                title: Response Get Supply System Distribution Adgroup Reporting Distribution Supply Adgroup  Adgroup Id  Get
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Internal Server Error
  /reporting/distribution/performance/adgroup/{adgroup_id}:
    get:
      tags:
      - Reporting
      summary: Get Performance Distribution Adgroup
      description: Gets performance distribution for an ad group. key=1 product, key=2 goal KPI.
      operationId: get_performance_distribution_adgroup
      security:
      - api-key: []
      - user-id: []
      - session: []
      parameters:
      - name: adgroup_id
        in: path
        required: true
        schema:
          type: integer
          title: Adgroup Id
      - name: key
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/PerformanceDistributionKey'
          description: 1=product, 2=goal KPI
        description: 1=product, 2=goal KPI
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: Start Date
        description: Date should be in YYYY-MM-DD
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: End Date
        description: Date should be in YYYY-MM-DD
      - name: tenant_id
        in: query
        required: true
        schema:
          type: integer
          title: Tenant Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PerformanceDistributionAdgroupModel'
                title: Response Get Performance Distribution Adgroup Reporting Distribution Performance Adgroup  Adgroup Id  Get
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Internal Server Error
  /reporting/ctv_ott/performance/campaign/{campaign_id}:
    get:
      tags:
      - Reporting
      summary: Get Ctv Ott Performance Campaign
      description: Gets CTV/OTT Performance Report for a campaign
      operationId: get_ctv_ott_performance_campaign
      security:
      - api-key: []
      - user-id: []
      - session: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: integer
          title: Campaign Id
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: Start Date
        description: Date should be in YYYY-MM-DD
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: End Date
        description: Date should be in YYYY-MM-DD
      - name: sort_by
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/CtvOttCampaignSortByFieldName'
          default: impressions
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          default: 10
          title: Limit
      - name: tenant_id
        in: query
        required: true
        schema:
          type: integer
          title: Tenant Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CtvOttCampaignPerformanceModel'
                title: Response Get Ctv Ott Performance Campaign Reporting Ctv Ott Performance Campaign  Campaign Id  Get
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Internal Server Error
  /reporting/ctv_ott/performance/campaign/{campaign_id}/adgroups:
    get:
      tags:
      - Reporting
      summary: Get Ctv Ott Performance Adgroup
      description: Gets CTV/OTT Performance Report for adgroups in a campaign
      operationId: get_ctv_ott_performance_adgroup
      security:
      - api-key: []
      - user-id: []
      - session: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: integer
          title: Campaign Id
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: Start Date
        description: Date should be in YYYY-MM-DD
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: End Date
        description: Date should be in YYYY-MM-DD
      - name: sort_by
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/CtvOttCampaignSortByFieldName'
          default: impressions
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          default: 10
          title: Limit
      - name: tenant_id
        in: query
        required: true
        schema:
          type: integer
          title: Tenant Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CtvOttAdgroupPerformanceModel'
                title: Response Get Ctv Ott Performance Adgroup Reporting Ctv Ott Performance Campaign  Campaign Id  Adgroups Get
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Internal Server Error
  /reporting/dow/campaign/{campaign_id}:
    get:
      tags:
      - Reporting
      summary: Get Dow Metrics Campaign
      description: Gets day-of-week metrics for a campaign; optionally by ad group when all_adgroups=true
      operationId: get_dow_metrics_campaign
      security:
      - api-key: []
      - user-id: []
      - session: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: integer
          title: Campaign Id
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: Start Date
        description: Date should be in YYYY-MM-DD
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: End Date
        description: Date should be in YYYY-MM-DD
      - name: all_adgroups
        in: query
        required: false
        schema:
          type: boolean
          description: When true, return metrics grouped by day and ad group
          default: false
          title: All Adgroups
        description: When true, return metrics grouped by day and ad group
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
            minimum: 1
          - type: 'null'
          description: Limit number of records
          title: Limit
        description: Limit number of records
      - name: tenant_id
        in: query
        required: true
        schema:
          type: integer
          title: Tenant Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DowMetricsCampaignModel'
                title: Response Get Dow Metrics Campaign Reporting Dow Campaign  Campaign Id  Get
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Internal Server Error
  /reporting/dow/creative/{creative_id}:
    get:
      tags:
      - Reporting
      summary: Get Dow Metrics Creative
      description: Gets day-of-week metrics for a creative.
      operationId: get_dow_metrics_creative
      security:
      - api-key: []
      - user-id: []
      - session: []
      parameters:
      - name: creative_id
        in: path
        required: true
        schema:
          type: integer
          title: Creative Id
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: Start Date
        description: Date should be in YYYY-MM-DD
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: End Date
        description: Date should be in YYYY-MM-DD
      - name: tenant_id
        in: query
        required: true
        schema:
          type: integer
          title: Tenant Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DowMetricsCreativeModel'
                title: Response Get Dow Metrics Creative Reporting Dow Creative  Creative Id  Get
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Internal Server Error
  /reporting/timeseries/dow/adgroup/{adgroup_id}:
    get:
      tags:
      - Reporting
      summary: Get Timeseries Dow Adgroup
      description: Gets timeseries day of week chart for an ad group
      operationId: get_timeseries_dow_adgroup
      security:
      - api-key: []
      - user-id: []
      - session: []
      parameters:
      - name: adgroup_id
        in: path
        required: true
        schema:
          type: integer
          title: Adgroup Id
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: Start Date
        description: Date should be in YYYY-MM-DD
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: End Date
        description: Date should be in YYYY-MM-DD
      - name: data_type
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/TimeseriesDowDataType'
          description: 'Data type: chart (averaged metrics) or full (summed totals with video funnel breakdown)'
          default: chart
        description: 'Data type: chart (averaged metrics) or full (summed totals with video funnel breakdown)'
      - name: tenant_id
        in: query
        required: true
        schema:
          type: integer
          title: Tenant Id
      - name: fields
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Comma-separated list of fields to return. If none are provided, all will be returned.<br/><br/>Available values:<br/>- day<br/>- adgroup_id<br/>- adgroup_name<br/>- imp<br/>- clks<br/>- spt<br/>- sa<br/>- vst<br/>- oh_vst<br/>- prj_vst<br/>- sar<br/>- ctr<br/>- web<br/>- dir<br/>- ctc<br/>- info<br/>- cpn<br/>- vcr<br/>- video_start<br/>- video_first_quartile<br/>- video_midpoint<br/>- video_third_quartile<br/>- video_end<br/><br/>Note: day, adgroup_id, and adgroup_name are mandatory response fields and will always be returned, regardless of what is passed in fields.'
          title: Fields
        description: 'Comma-separated list of fields to return. If none are provided, all will be returned.<br/><br/>Available values:<br/>- day<br/>- adgroup_id<br/>- adgroup_name<br/>- imp<br/>- clks<br/>- spt<br/>- sa<br/>- vst<br/>- oh_vst<br/>- prj_vst<br/>- sar<br/>- ctr<br/>- web<br/>- dir<br/>- ctc<br/>- info<br/>- cpn<br/>- vcr<br/>- video_start<br/>- video_first_quartile<br/>- video_midpoint<br/>- video_third_quartile<br/>- video_end<br/><br/>Note: day, adgroup_id, and adgroup_name are mandatory response fields and will always be returned, regardless of what is passed in fields.'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimeseriesDowAdgroupModel'
                title: Response Get Timeseries Dow Adgroup Reporting Timeseries Dow Adgroup  Adgroup Id  Get
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Internal Server Error
  /reporting/dow/adgroup/{adgroup_id}:
    get:
      tags:
      - Reporting
      summary: Get Dow Metrics Adgroup
      description: Gets day-of-week metrics for an ad group; optionally by creative when all_creatives=true
      operationId: get_dow_metrics_adgroup
      security:
      - api-key: []
      - user-id: []
      - session: []
      parameters:
      - name: adgroup_id
        in: path
        required: true
        schema:
          type: integer
          title: Adgroup Id
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: Start Date
        description: Date should be in YYYY-MM-DD
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: End Date
        description: Date should be in YYYY-MM-DD
      - name: all_creatives
        in: query
        required: false
        schema:
          type: boolean
          description: When true, return metrics grouped by day of week and creative
          default: false
          title: All Creatives
        description: When true, return metrics grouped by day of week and creative
      - name: tenant_id
        in: query
        required: true
        schema:
          type: integer
          title: Tenant Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DowMetricsAdgroupModel'
                title: Response Get Dow Metrics Adgroup Reporting Dow Adgroup  Adgroup Id  Get
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Internal Server Error
  /reporting/tod/adgroup/{adgroup_id}:
    get:
      tags:
      - Reporting
      summary: Get Tod Metrics Adgroup
      description: Gets time-of-day hourly metrics for an ad group; optionally by creative when all_creatives=true
      operationId: get_tod_metrics_adgroup
      security:
      - api-key: []
      - user-id: []
      - session: []
      parameters:
      - name: adgroup_id
        in: path
        required: true
        schema:
          type: integer
          title: Adgroup Id
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: Start Date
        description: Date should be in YYYY-MM-DD
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: End Date
        description: Date should be in YYYY-MM-DD
      - name: all_creatives
        in: query
        required: false
        schema:
          type: boolean
          description: When true, return metrics grouped by hour and creative
          default: false
          title: All Creatives
        description: When true, return metrics grouped by hour and creative
      - name: tenant_id
        in: query
        required: true
        schema:
          type: integer
          title: Tenant Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TodMetricsAdgroupModel'
                title: Response Get Tod Metrics Adgroup Reporting Tod Adgroup  Adgroup Id  Get
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Internal Server Error
  /reporting/tod/weekday/campaign/{campaign_id}:
    get:
      tags:
      - Reporting
      summary: Get Tod Weekday Campaign
      description: Gets weekday time-of-day hourly metrics for a campaign; optionally by ad group.
      operationId: get_tod_weekday_campaign
      security:
      - api-key: []
      - user-id: []
      - session: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: integer
          title: Campaign Id
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: Start Date
        description: Date should be in YYYY-MM-DD
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: End Date
        description: Date should be in YYYY-MM-DD
      - name: all_adgroups
        in: query
        required: false
        schema:
          type: boolean
          description: When true, return metrics grouped by hour and ad group
          default: false
          title: All Adgroups
        description: When true, return metrics grouped by hour and ad group
      - name: tenant_id
        in: query
        required: true
        schema:
          type: integer
          title: Tenant Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TodMetricsCampaignModel'
                title: Response Get Tod Weekday Campaign Reporting Tod Weekday Campaign  Campaign Id  Get
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Internal Server Error
  /reporting/tod/weekday/adgroup/{adgroup_id}:
    get:
      tags:
      - Reporting
      summary: Get Tod Weekday Adgroup
      description: Gets weekday time-of-day hourly metrics for an ad group; optionally by creative.
      operationId: get_tod_weekday_adgroup
      security:
      - api-key: []
      - user-id: []
      - session: []
      parameters:
      - name: adgroup_id
        in: path
        required: true
        schema:
          type: integer
          title: Adgroup Id
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: Start Date
        description: Date should be in YYYY-MM-DD
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: End Date
        description: Date should be in YYYY-MM-DD
      - name: all_creatives
        in: query
        required: false
        schema:
          type: boolean
          description: When true, return metrics grouped by hour and creative
          default: false
          title: All Creatives
        description: When true, return metrics grouped by hour and creative
      - name: tenant_id
        in: query
        required: true
        schema:
          type: integer
          title: Tenant Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TodMetricsAdgroupModel'
                title: Response Get Tod Weekday Adgroup Reporting Tod Weekday Adgroup  Adgroup Id  Get
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Internal Server Error
  /reporting/tod/weekend/adgroup/{adgroup_id}:
    get:
      tags:
      - Reporting
      summary: Get Tod Weekend Adgroup
      description: Gets weekend time-of-day hourly metrics for an ad group; optionally by creative.
      operationId: get_tod_weekend_adgroup
      security:
      - api-key: []
      - user-id: []
      - session: []
      parameters:
      - name: adgroup_id
        in: path
        required: true
        schema:
          type: integer
          title: Adgroup Id
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: Start Date
        description: Date should be in YYYY-MM-DD
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: End Date
        description: Date should be in YYYY-MM-DD
      - name: all_creatives
        in: query
        required: false
        schema:
          type: boolean
          description: When true, return metrics grouped by hour and creative
          default: false
          title: All Creatives
        description: When true, return metrics grouped by hour and creative
      - name: tenant_id
        in: query
        required: true
        schema:
          type: integer
          title: Tenant Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TodMetricsAdgroupModel'
                title: Response Get Tod Weekend Adgroup Reporting Tod Weekend Adgroup  Adgroup Id  Get
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Internal Server Error
  /reporting/tod/weekend/campaign/{campaign_id}:
    get:
      tags:
      - Reporting
      summary: Get Tod Weekend Campaign
      description: Gets weekend time-of-day hourly metrics for a campaign; optionally by ad group.
      operationId: get_tod_weekend_campaign
      security:
      - api-key: []
      - user-id: []
      - session: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: integer
          title: Campaign Id
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: Start Date
        description: Date should be in YYYY-MM-DD
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: End Date
        description: Date should be in YYYY-MM-DD
      - name: all_adgroups
        in: query
        required: false
        schema:
          type: boolean
          description: When true, return metrics grouped by hour and ad group
          default: false
          title: All Adgroups
        description: When true, return metrics grouped by hour and ad group
      - name: tenant_id
        in: query
        required: true
        schema:
          type: integer
          title: Tenant Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TodMetricsCampaignModel'
                title: Response Get Tod Weekend Campaign Reporting Tod Weekend Campaign  Campaign Id  Get
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Internal Server Error
  /reporting/timeseries/dow/campaign/{campaign_id}:
    get:
      tags:
      - Reporting
      summary: Get Timeseries Dow Campaign
      description: Gets timeseries day of week chart for a campaign
      operationId: get_timeseries_dow_campaign
      security:
      - api-key: []
      - user-id: []
      - session: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: integer
          title: Campaign Id
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: Start Date
        description: Date should be in YYYY-MM-DD
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: End Date
        description: Date should be in YYYY-MM-DD
      - name: data_type
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/TimeseriesDowDataType'
          description: 'Data type: chart (averaged metrics) or full (summed totals with video funnel breakdown)'
          default: chart
        description: 'Data type: chart (averaged metrics) or full (summed totals with video funnel breakdown)'
      - name: tenant_id
        in: query
        required: true
        schema:
          type: integer
          title: Tenant Id
      - name: fields
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Comma-separated list of fields to return. If none are provided, all will be returned.<br/><br/>Available values:<br/>- day<br/>- campaign_id<br/>- campaign_name<br/>- imp<br/>- clks<br/>- spt<br/>- sa<br/>- vst<br/>- oh_vst<br/>- prj_vst<br/>- sar<br/>- ctr<br/>- web<br/>- dir<br/>- ctc<br/>- info<br/>- cpn<br/>- vcr<br/>- video_start<br/>- video_first_quartile<br/>- video_midpoint<br/>- video_third_quartile<br/>- video_end<br/><br/>Note: day, campaign_id, and campaign_name are mandatory response fields and will always be returned, regardless of what is passed in fields.'
          title: Fields
        description: 'Comma-separated list of fields to return. If none are provided, all will be returned.<br/><br/>Available values:<br/>- day<br/>- campaign_id<br/>- campaign_name<br/>- imp<br/>- clks<br/>- spt<br/>- sa<br/>- vst<br/>- oh_vst<br/>- prj_vst<br/>- sar<br/>- ctr<br/>- web<br/>- dir<br/>- ctc<br/>- info<br/>- cpn<br/>- vcr<br/>- video_start<br/>- video_first_quartile<br/>- video_midpoint<br/>- video_third_quartile<br/>- video_end<br/><br/>Note: day, campaign_id, and campaign_name are mandatory response fields and will always be returned, regardless of what is passed in fields.'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimeseriesDowCampaignModel'
                title: Response Get Timeseries Dow Campaign Reporting Timeseries Dow Campaign  Campaign Id  Get
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Internal Server Error
  /reporting/timeseries/dow/campaign/{campaign_id}/adgroups:
    get:
      tags:
      - Reporting
      summary: Get Timeseries Dow Campaign Adgroups
      description: Gets timeseries day of week metrics for each ad group in a campaign.
      operationId: get_timeseries_dow_campaign_adgroups
      security:
      - api-key: []
      - user-id: []
      - session: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: integer
          title: Campaign Id
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: Start Date
        description: Date should be in YYYY-MM-DD
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: End Date
        description: Date should be in YYYY-MM-DD
      - name: tenant_id
        in: query
        required: true
        schema:
          type: integer
          title: Tenant Id
      - name: fields
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Comma-separated list of fields to return. If none are provided, all will be returned.<br/><br/>Available values:<br/>- day<br/>- adgroup_id<br/>- adgroup_name<br/>- imp<br/>- clks<br/>- spt<br/>- sa<br/>- vst<br/>- oh_vst<br/>- prj_vst<br/>- sar<br/>- ctr<br/>- web<br/>- dir<br/>- ctc<br/>- info<br/>- cpn<br/>- vcr<br/>- video_start<br/>- video_first_quartile<br/>- video_midpoint<br/>- video_third_quartile<br/>- video_end<br/><br/>Note: day, adgroup_id, and adgroup_name are mandatory response fields and will always be returned, regardless of what is passed in fields.'
          title: Fields
        description: 'Comma-separated list of fields to return. If none are provided, all will be returned.<br/><br/>Available values:<br/>- day<br/>- adgroup_id<br/>- adgroup_name<br/>- imp<br/>- clks<br/>- spt<br/>- sa<br/>- vst<br/>- oh_vst<br/>- prj_vst<br/>- sar<br/>- ctr<br/>- web<br/>- dir<br/>- ctc<br/>- info<br/>- cpn<br/>- vcr<br/>- video_start<br/>- video_first_quartile<br/>- video_midpoint<br/>- video_third_quartile<br/>- video_end<br/><br/>Note: day, adgroup_id, and adgroup_name are mandatory response fields and will always be returned, regardless of what is passed in fields.'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimeseriesDowCampaignAdgroupsModel'
                title: Response Get Timeseries Dow Campaign Adgroups Reporting Timeseries Dow Campaign  Campaign Id  Adgroups Get
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Internal Server Error
  /reporting/timeseries/dow/campaign/{campaign_id}/creatives:
    get:
      tags:
      - Reporting
      summary: Get Timeseries Dow Campaign Creatives
      description: Gets timeseries day of week metrics for each creative in a campaign.
      operationId: get_timeseries_dow_campaign_creatives
      security:
      - api-key: []
      - user-id: []
      - session: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: integer
          title: Campaign Id
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: Start Date
        description: Date should be in YYYY-MM-DD
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: End Date
        description: Date should be in YYYY-MM-DD
      - name: tenant_id
        in: query
        required: true
        schema:
          type: integer
          title: Tenant Id
      - name: fields
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Comma-separated list of fields to return. If none are provided, all will be returned.<br/><br/>Available values:<br/>- day<br/>- creative_id<br/>- creative_name<br/>- imp<br/>- clks<br/>- spt<br/>- sa<br/>- vst<br/>- oh_vst<br/>- prj_vst<br/>- sar<br/>- ctr<br/>- web<br/>- dir<br/>- ctc<br/>- info<br/>- cpn<br/>- vcr<br/>- video_start<br/>- video_first_quartile<br/>- video_midpoint<br/>- video_third_quartile<br/>- video_end<br/><br/>Note: day, creative_id, and creative_name are mandatory response fields and will always be returned, regardless of what is passed in fields.'
          title: Fields
        description: 'Comma-separated list of fields to return. If none are provided, all will be returned.<br/><br/>Available values:<br/>- day<br/>- creative_id<br/>- creative_name<br/>- imp<br/>- clks<br/>- spt<br/>- sa<br/>- vst<br/>- oh_vst<br/>- prj_vst<br/>- sar<br/>- ctr<br/>- web<br/>- dir<br/>- ctc<br/>- info<br/>- cpn<br/>- vcr<br/>- video_start<br/>- video_first_quartile<br/>- video_midpoint<br/>- video_third_quartile<br/>- video_end<br/><br/>Note: day, creative_id, and creative_name are mandatory response fields and will always be returned, regardless of what is passed in fields.'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimeseriesDowCampaignCreativesModel'
                title: Response Get Timeseries Dow Campaign Creatives Reporting Timeseries Dow Campaign  Campaign Id  Creatives Get
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Internal Server Error
  /reporting/timeseries/dow/creative/{creative_id}:
    get:
      tags:
      - Reporting
      summary: Get Timeseries Dow Creative
      description: Gets timeseries day of week chart for a creative
      operationId: get_timeseries_dow_creative
      security:
      - api-key: []
      - user-id: []
      - session: []
      parameters:
      - name: creative_id
        in: path
        required: true
        schema:
          type: integer
          title: Creative Id
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: Start Date
        description: Date should be in YYYY-MM-DD
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: End Date
        description: Date should be in YYYY-MM-DD
      - name: data_type
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/TimeseriesDowDataType'
          description: 'Data type: chart (averaged metrics) or full (summed totals with video funnel breakdown)'
          default: chart
        description: 'Data type: chart (averaged metrics) or full (summed totals with video funnel breakdown)'
      - name: tenant_id
        in: query
        required: true
        schema:
          type: integer
          title: Tenant Id
      - name: fields
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Comma-separated list of fields to return. If none are provided, all will be returned.<br/><br/>Available values:<br/>- day<br/>- creative_id<br/>- creative_name<br/>- imp<br/>- clks<br/>- spt<br/>- sa<br/>- vst<br/>- oh_vst<br/>- prj_vst<br/>- sar<br/>- ctr<br/>- web<br/>- dir<br/>- ctc<br/>- info<br/>- cpn<br/>- vcr<br/>- video_start<br/>- video_first_quartile<br/>- video_midpoint<br/>- video_third_quartile<br/>- video_end<br/><br/>Note: day, creative_id, and creative_name are mandatory response fields and will always be returned, regardless of what is passed in fields.'
          title: Fields
        description: 'Comma-separated list of fields to return. If none are provided, all will be returned.<br/><br/>Available values:<br/>- day<br/>- creative_id<br/>- creative_name<br/>- imp<br/>- clks<br/>- spt<br/>- sa<br/>- vst<br/>- oh_vst<br/>- prj_vst<br/>- sar<br/>- ctr<br/>- web<br/>- dir<br/>- ctc<br/>- info<br/>- cpn<br/>- vcr<br/>- video_start<br/>- video_first_quartile<br/>- video_midpoint<br/>- video_third_quartile<br/>- video_end<br/><br/>Note: day, creative_id, and creative_name are mandatory response fields and will always be returned, regardless of what is passed in fields.'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimeseriesDowCreativeModel'
                title: Response Get Timeseries Dow Creative Reporting Timeseries Dow Creative  Creative Id  Get
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Internal Server Error
  /reporting/timeseries/dow_tod/campaign/{campaign_id}:
    get:
      tags:
      - Reporting
      summary: Get Timeseries Dow Tod Campaign
      description: Gets timeseries day of week and time of day metrics for a campaign.
      operationId: get_timeseries_dow_tod_campaign
      security:
      - api-key: []
      - user-id: []
      - session: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: integer
          title: Campaign Id
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: Start Date
        description: Date should be in YYYY-MM-DD
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: End Date
        description: Date should be in YYYY-MM-DD
      - name: data_type
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/DowTodDataType'
          description: 'Data type: chart (averaged metrics) or full (summed totals with video breakdown)'
          default: chart
        description: 'Data type: chart (averaged metrics) or full (summed totals with video breakdown)'
      - name: tenant_id
        in: query
        required: true
        schema:
          type: integer
          title: Tenant Id
      - name: fields
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Comma-separated list of fields to return. If none are provided, all will be returned.<br/><br/>Available values:<br/>- day_type<br/>- day<br/>- hr<br/>- imp<br/>- clks<br/>- spt<br/>- sa<br/>- vst<br/>- oh_vst<br/>- prj_vst<br/>- sar<br/>- ctr<br/>- web<br/>- dir<br/>- ctc<br/>- info<br/>- cpn<br/>- vcr<br/>- video_start<br/>- video_first_quartile<br/>- video_midpoint<br/>- video_third_quartile<br/>- video_end<br/><br/>Note: day_type, day, and hr are mandatory response fields and will always be returned, regardless of what is passed in fields.'
          title: Fields
        description: 'Comma-separated list of fields to return. If none are provided, all will be returned.<br/><br/>Available values:<br/>- day_type<br/>- day<br/>- hr<br/>- imp<br/>- clks<br/>- spt<br/>- sa<br/>- vst<br/>- oh_vst<br/>- prj_vst<br/>- sar<br/>- ctr<br/>- web<br/>- dir<br/>- ctc<br/>- info<br/>- cpn<br/>- vcr<br/>- video_start<br/>- video_first_quartile<br/>- video_midpoint<br/>- video_third_quartile<br/>- video_end<br/><br/>Note: day_type, day, and hr are mandatory response fields and will always be returned, regardless of what is passed in fields.'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimeseriesDowTodCampaignModel'
                title: Response Get Timeseries Dow Tod Campaign Reporting Timeseries Dow Tod Campaign  Campaign Id  Get
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Internal Server Error
  /reporting/timeseries/dow_tod/campaign/{campaign_id}/adgroups:
    get:
      tags:
      - Reporting
      summary: Get Timeseries Dow Tod Campaign Adgroups
      description: Gets timeseries day of week and time of day metrics for each ad group in a campaign.
      operationId: get_timeseries_dow_tod_campaign_adgroups
      security:
      - api-key: []
      - user-id: []
      - session: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: integer
          title: Campaign Id
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: Start Date
        description: Date should be in YYYY-MM-DD
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: End Date
        description: Date should be in YYYY-MM-DD
      - name: tenant_id
        in: query
        required: true
        schema:
          type: integer
          title: Tenant Id
      - name: fields
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Comma-separated list of fields to return. If none are provided, all will be returned.<br/><br/>Available values:<br/>- day_type<br/>- day<br/>- hr<br/>- adgroup_id<br/>- adgroup_name<br/>- imp<br/>- clks<br/>- spt<br/>- sa<br/>- vst<br/>- oh_vst<br/>- prj_vst<br/>- sar<br/>- ctr<br/>- web<br/>- dir<br/>- ctc<br/>- info<br/>- cpn<br/>- vcr<br/>- video_start<br/>- video_first_quartile<br/>- video_midpoint<br/>- video_third_quartile<br/>- video_end<br/><br/>Note: day_type, day, hr, adgroup_id, and adgroup_name are mandatory response fields and will always be returned, regardless of what is passed in fields.'
          title: Fields
        description: 'Comma-separated list of fields to return. If none are provided, all will be returned.<br/><br/>Available values:<br/>- day_type<br/>- day<br/>- hr<br/>- adgroup_id<br/>- adgroup_name<br/>- imp<br/>- clks<br/>- spt<br/>- sa<br/>- vst<br/>- oh_vst<br/>- prj_vst<br/>- sar<br/>- ctr<br/>- web<br/>- dir<br/>- ctc<br/>- info<br/>- cpn<br/>- vcr<br/>- video_start<br/>- video_first_quartile<br/>- video_midpoint<br/>- video_third_quartile<br/>- video_end<br/><br/>Note: day_type, day, hr, adgroup_id, and adgroup_name are mandatory response fields and will always be returned, regardless of what is passed in fields.'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimeseriesDowTodCampaignAdgroupsModel'
                title: Response Get Timeseries Dow Tod Campaign Adgroups Reporting Timeseries Dow Tod Campaign  Campaign Id  Adgroups Get
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Internal Server Error
  /reporting/timeseries/dow_tod/campaign/{campaign_id}/creatives:
    get:
      tags:
      - Reporting
      summary: Get Timeseries Dow Tod Campaign Creatives
      description: Gets timeseries day of week and time of day metrics for each creative in a campaign.
      operationId: get_timeseries_dow_tod_campaign_creatives
      security:
      - api-key: []
      - user-id: []
      - session: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: integer
          title: Campaign Id
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: Start Date
        description: Date should be in YYYY-MM-DD
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: End Date
        description: Date should be in YYYY-MM-DD
      - name: tenant_id
        in: query
        required: true
        schema:
          type: integer
          title: Tenant Id
      - name: fields
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Comma-separated list of fields to return. If none are provided, all will be returned.<br/><br/>Available values:<br/>- day_type<br/>- day<br/>- hr<br/>- creative_id<br/>- creative_name<br/>- imp<br/>- clks<br/>- spt<br/>- sa<br/>- vst<br/>- oh_vst<br/>- prj_vst<br/>- sar<br/>- ctr<br/>- web<br/>- dir<br/>- ctc<br/>- info<br/>- cpn<br/>- vcr<br/>- video_start<br/>- video_first_quartile<br/>- video_midpoint<br/>- video_third_quartile<br/>- video_end<br/><br/>Note: day_type, day, hr, creative_id, and creative_name are mandatory response fields and will always be returned, regardless of what is passed in fields.'
          title: Fields
        description: 'Comma-separated list of fields to return. If none are provided, all will be returned.<br/><br/>Available values:<br/>- day_type<br/>- day<br/>- hr<br/>- creative_id<br/>- creative_name<br/>- imp<br/>- clks<br/>- spt<br/>- sa<br/>- vst<br/>- oh_vst<br/>- prj_vst<br/>- sar<br/>- ctr<br/>- web<br/>- dir<br/>- ctc<br/>- info<br/>- cpn<br/>- vcr<br/>- video_start<br/>- video_first_quartile<br/>- video_midpoint<br/>- video_third_quartile<br/>- video_end<br/><br/>Note: day_type, day, hr, creative_id, and creative_name are mandatory response fields and will always be returned, regardless of what is passed in fields.'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimeseriesDowTodCampaignCreativesModel'
                title: Response Get Timeseries Dow Tod Campaign Creatives Reporting Timeseries Dow Tod Campaign  Campaign Id  Creatives Get
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Internal Server Error
  /reporting/timeseries/dow_tod/adgroup/{adgroup_id}:
    get:
      tags:
      - Reporting
      summary: Get Timeseries Dow Tod Adgroup
      description: Gets timeseries day of week and time of day metrics for an ad group.
      operationId: get_timeseries_dow_tod_adgroup
      security:
      - api-key: []
      - user-id: []
      - session: []
      parameters:
      - name: adgroup_id
        in: path
        required: true
        schema:
          type: integer
          title: Adgroup Id
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: Start Date
        description: Date should be in YYYY-MM-DD
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: End Date
        description: Date should be in YYYY-MM-DD
      - name: data_type
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/DowTodDataType'
          description: 'Data type: chart (averaged metrics) or full (summed totals with video breakdown)'
          default: chart
        description: 'Data type: chart (averaged metrics) or full (summed totals with video breakdown)'
      - name: tenant_id
        in: query
        required: true
        schema:
          type: integer
          title: Tenant Id
      - name: fields
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Comma-separated list of fields to return. If none are provided, all will be returned.<br/><br/>Available values:<br/>- day_type<br/>- day<br/>- hr<br/>- imp<br/>- clks<br/>- spt<br/>- sa<br/>- vst<br/>- oh_vst<br/>- prj_vst<br/>- sar<br/>- ctr<br/>- web<br/>- dir<br/>- ctc<br/>- info<br/>- cpn<br/>- vcr<br/>- video_start<br/>- video_first_quartile<br/>- video_midpoint<br/>- video_third_quartile<br/>- video_end<br/><br/>Note: day_type, day, and hr are mandatory response fields and will always be returned, regardless of what is passed in fields.'
          title: Fields
        description: 'Comma-separated list of fields to return. If none are provided, all will be returned.<br/><br/>Available values:<br/>- day_type<br/>- day<br/>- hr<br/>- imp<br/>- clks<br/>- spt<br/>- sa<br/>- vst<br/>- oh_vst<br/>- prj_vst<br/>- sar<br/>- ctr<br/>- web<br/>- dir<br/>- ctc<br/>- info<br/>- cpn<br/>- vcr<br/>- video_start<br/>- video_first_quartile<br/>- video_midpoint<br/>- video_third_quartile<br/>- video_end<br/><br/>Note: day_type, day, and hr are mandatory response fields and will always be returned, regardless of what is passed in fields.'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimeseriesDowTodAdgroupModel'
                title: Response Get Timeseries Dow Tod Adgroup Reporting Timeseries Dow Tod Adgroup  Adgroup Id  Get
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Internal Server Error
  /reporting/timeseries/dow_tod/creative/{creative_id}:
    get:
      tags:
      - Reporting
      summary: Get Timeseries Dow Tod Creative
      description: Gets timeseries day of week and time of day metrics for a creative.
      operationId: get_timeseries_dow_tod_creative
      security:
      - api-key: []
      - user-id: []
      - session: []
      parameters:
      - name: creative_id
        in: path
        required: true
        schema:
          type: integer
          title: Creative Id
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: Start Date
        description: Date should be in YYYY-MM-DD
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: End Date
        description: Date should be in YYYY-MM-DD
      - name: data_type
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/DowTodDataType'
          description: 'Data type: chart (averaged metrics) or full (summed totals with video breakdown)'
          default: chart
        description: 'Data type: chart (averaged metrics) or full (summed totals with video breakdown)'
      - name: tenant_id
        in: query
        required: true
        schema:
          type: integer
          title: Tenant Id
      - name: fields
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Comma-separated list of fields to return. If none are provided, all will be returned.<br/><br/>Available values:<br/>- day_type<br/>- day<br/>- hr<br/>- creative_id<br/>- creative_name<br/>- imp<br/>- clks<br/>- spt<br/>- sa<br/>- vst<br/>- oh_vst<br/>- prj_vst<br/>- sar<br/>- ctr<br/>- web<br/>- dir<br/>- ctc<br/>- info<br/>- cpn<br/>- vcr<br/>- video_start<br/>- video_first_quartile<br/>- video_midpoint<br/>- video_third_quartile<br/>- video_end<br/><br/>Note: day_type, day, hr, creative_id, and creative_name are mandatory response fields and will always be returned, regardless of what is passed in fields.'
          title: Fields
        description: 'Comma-separated list of fields to return. If none are provided, all will be returned.<br/><br/>Available values:<br/>- day_type<br/>- day<br/>- hr<br/>- creative_id<br/>- creative_name<br/>- imp<br/>- clks<br/>- spt<br/>- sa<br/>- vst<br/>- oh_vst<br/>- prj_vst<br/>- sar<br/>- ctr<br/>- web<br/>- dir<br/>- ctc<br/>- info<br/>- cpn<br/>- vcr<br/>- video_start<br/>- video_first_quartile<br/>- video_midpoint<br/>- video_third_quartile<br/>- video_end<br/><br/>Note: day_type, day, hr, creative_id, and creative_name are mandatory response fields and will always be returned, regardless of what is passed in fields.'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimeseriesDowTodCreativeModel'
                title: Response Get Timeseries Dow Tod Creative Reporting Timeseries Dow Tod Creative  Creative Id  Get
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Internal Server Error
  /reporting/timeseries/tod/imp/campaign/{campaign_id}:
    get:
      tags:
      - Reporting
      summary: Get Timeseries Tod Imp Campaign
      description: Gets time-of-day chart metrics for a campaign.
      operationId: get_timeseries_tod_imp_campaign
      security:
      - api-key: []
      - user-id: []
      - session: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: integer
          title: Campaign Id
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: Start Date
        description: Date should be in YYYY-MM-DD
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: End Date
        description: Date should be in YYYY-MM-DD
      - name: imp
        in: query
        required: false
        schema:
          type: boolean
          description: Include impressions
          default: false
          title: Imp
        description: Include impressions
      - name: vst
        in: query
        required: false
        schema:
          type: boolean
          description: Include visits
          default: false
          title: Vst
        description: Include visits
      - name: oh_vst
        in: query
        required: false
        schema:
          type: boolean
          description: Include open hour visits
          default: false
          title: Oh Vst
        description: Include open hour visits
      - name: clks
        in: query
        required: false
        schema:
          type: boolean
          description: Include clicks
          default: false
          title: Clks
        description: Include clicks
      - name: ctr
        in: query
        required: false
        schema:
          type: boolean
          description: Include click-through rate
          default: false
          title: Ctr
        description: Include click-through rate
      - name: spt
        in: query
        required: false
        schema:
          type: boolean
          description: Include spend
          default: false
          title: Spt
        description: Include spend
      - name: sa
        in: query
        required: false
        schema:
          type: boolean
          description: Include secondary actions
          default: false
          title: Sa
        description: Include secondary actions
      - name: sar
        in: query
        required: false
        schema:
          type: boolean
          description: Include secondary action rate
          default: false
          title: Sar
        description: Include secondary action rate
      - name: vcr
        in: query
        required: false
        schema:
          type: boolean
          description: Include video completion rate
          default: false
          title: Vcr
        description: Include video completion rate
      - name: tenant_id
        in: query
        required: true
        schema:
          type: integer
          title: Tenant Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimeseriesTodCampaignChartModel'
                title: Response Get Timeseries Tod Imp Campaign Reporting Timeseries Tod Imp Campaign  Campaign Id  Get
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Internal Server Error
  /reporting/timeseries/tod/campaign/{campaign_id}/adgroups:
    get:
      tags:
      - Reporting
      summary: Get Timeseries Tod Campaign Adgroups
      description: Gets time-of-day chart metrics for each ad group in a campaign.
      operationId: get_timeseries_tod_campaign_adgroups
      security:
      - api-key: []
      - user-id: []
      - session: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: integer
          title: Campaign Id
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: Start Date
        description: Date should be in YYYY-MM-DD
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: End Date
        description: Date should be in YYYY-MM-DD
      - name: tenant_id
        in: query
        required: true
        schema:
          type: integer
          title: Tenant Id
      - name: fields
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Comma-separated list of metric fields to include in the response. At least one is required.<br/><br/>Available values:<br/>- imp<br/>- vst<br/>- oh_vst<br/>- clks<br/>- ctr<br/>- spt<br/>- sa<br/>- sar<br/>- vcr
          title: Fields
        description: Comma-separated list of metric fields to include in the response. At least one is required.<br/><br/>Available values:<br/>- imp<br/>- vst<br/>- oh_vst<br/>- clks<br/>- ctr<br/>- spt<br/>- sa<br/>- sar<br/>- vcr
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimeseriesTodCampaignAdgroupChartModel'
                title: Response Get Timeseries Tod Campaign Adgroups Reporting Timeseries Tod Campaign  Campaign Id  Adgroups Get
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Internal Server Error
  /reporting/timeseries/tod/campaign/{campaign_id}/creatives:
    get:
      tags:
      - Reporting
      summary: Get Timeseries Tod Creatives Campaign
      description: Gets time-of-day chart metrics for each creative in a campaign.
      operationId: get_timeseries_tod_creatives_campaign
      security:
      - api-key: []
      - user-id: []
      - session: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: integer
          title: Campaign Id
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: Start Date
        description: Date should be in YYYY-MM-DD
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: End Date
        description: Date should be in YYYY-MM-DD
      - name: tenant_id
        in: query
        required: true
        schema:
          type: integer
          title: Tenant Id
      - name: fields
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Comma-separated list of metric fields to include in the response. At least one is required.<br/><br/>Available values:<br/>- imp<br/>- vst<br/>- oh_vst<br/>- clks<br/>- ctr<br/>- spt<br/>- sa<br/>- sar<br/>- vcr
          title: Fields
        description: Comma-separated list of metric fields to include in the response. At least one is required.<br/><br/>Available values:<br/>- imp<br/>- vst<br/>- oh_vst<br/>- clks<br/>- ctr<br/>- spt<br/>- sa<br/>- sar<br/>- vcr
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimeseriesTodCampaignCreativesChartModel'
                title: Response Get Timeseries Tod Creatives Campaign Reporting Timeseries Tod Campaign  Campaign Id  Creatives Get
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Internal Server Error
  /reporting/timeseries/tod/adgroup/{adgroup_id}:
    get:
      tags:
      - Reporting
      summary: Get Timeseries Tod Adgroup
      description: Gets time-of-day chart metrics for an ad group.
      operationId: get_timeseries_tod_adgroup
      security:
      - api-key: []
      - user-id: []
      - session: []
      parameters:
      - name: adgroup_id
        in: path
        required: true
        schema:
          type: integer
          title: Adgroup Id
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: Start Date
        description: Date should be in YYYY-MM-DD
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: End Date
        description: Date should be in YYYY-MM-DD
      - name: tenant_id
        in: query
        required: true
        schema:
          type: integer
          title: Tenant Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimeseriesTodAdgroupModel'
                title: Response Get Timeseries Tod Adgroup Reporting Timeseries Tod Adgroup  Adgroup Id  Get
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Internal Server Error
  /reporting/timeseries/tod/creative/{creative_id}:
    get:
      tags:
      - Reporting
      summary: Get Timeseries Tod Creative
      description: Gets time-of-day chart metrics for a creative.
      operationId: get_timeseries_tod_creative
      security:
      - api-key: []
      - user-id: []
      - session: []
      parameters:
      - name: creative_id
        in: path
        required: true
        schema:
          type: integer
          title: Creative Id
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: Start Date
        description: Date should be in YYYY-MM-DD
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Date should be in YYYY-MM-DD
          title: End Date
        description: Date should be in YYYY-MM-DD
      - name: imp
        in: query
        required: false
        schema:
          type: boolean
          description: Include impressions
          default: false
          title: Imp
        description: Include impressions
      - name: vst
        in: query
        required: false
        schema:
          type: boolean
          description: Include visits
          default: false
          title: Vst
        description: Include visits
      - name: oh_vst
        in: query
        required: false
        schema:
          type: boolean
          description: Include open hour visits
          default: false
          title: Oh Vst
        description: Include open hour visits
      - name: clks
        in: query
        required: false
        schema:
          type: boolean
          description: Include clicks
          default: false
          title: Clks
        description: Include clicks
      - name: ctr
        in: query
        required: false
        schema:
          type: boolean
          description: Include click-through rate
          default: false
          title: Ctr
        description: Include click-through rate
      - name: spt
        in: query
        required: false
        schema:
          type: boolean
          description: Include spend
          default: false
          title: Spt
        description: Include spend
      - name: sa
        in: query
        required: false
        schema:
          type: boolean
          description: Include secondary actions
          default: false
          title: Sa
        description: Include secondary actions
      - name: sar
        in: query
        required: false
        schema:
          type: boolean
          description: Include secondary action rate
          default: false
          title: Sar
        description: Include secondary action rate
      - name: vcr
        in: query
        required: false
        schema:
          type: boolean
          description: Include video completion rate
          default: false
          title: Vcr
[...]
